.cateogry-title{
    font-weight: 600;
    font-size: 20px;
    font-family: sans-serif;
}
.category-container{
    padding: 20px;
}
.category-tile{
    width: 200px;
    height: 200px;
    background-color: #8080801a;
    margin-left: 20px;
    margin-bottom:20px;
    cursor: pointer;
}
.tile-container{
    display: flex;
    padding-top: 30px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    margin: 0 auto

}
.category-icon{
    height: 135px;
    width: 170px;
    padding-top: 25px;
}
.category-text{
    font-family: sans-serif;
    padding: 10px;
    font-size: 16px;
    background-color: #80008036
}