.category-header {
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    position: fixed;
    width: 100%;
    position: inherit;
    margin-top: -10px;
  }
  
.cateogry-title{
    font-weight: 600;
    font-size: 36px;
    font-family: sans-serif;
    width: 100%;
}
.browse{
    padding-top: 50px;
}
.category-container{
    padding: 20px;
}
.category-tile {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    width: 30%;
    height: 220px;
    background-color: #fff6f6ad;
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
}

.category-tile:hover{
    transform: scale(1.1);
}

.icon-container{
    position: absolute;
    bottom: 0px;
    left: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: #6048bec2; */
    color: white;
    width: 60%;
    font-weight: 600;
}

.tile-container {
    display: flex;
    padding-top: 30px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
.category-icon {
    height: 220px;
    width: 100%;
    /* padding-top: 25px; */
}
.category-text {
    font-family: sans-serif;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    background-color: #800080;
}
.category-browsecontainer{
    display: grid;
    padding: 20px;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
}
.category-browsing{
    text-align: left;
    margin-left: 32px;
    margin-top: 25px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 30px;
    font-family: sans-serif;
    width: 100%;
}

.category-menu{
    width: 30%;
    float: left;
}

.category-items{
    width: 70%;
    float: left;
}

.categoryDetail-tile {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    height: 220px;
    background-color: #fff6f6ad;
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
}


.menutile{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    height: 470px;
    background-color: #fff6f6ad;
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
    text-align: left;
    /* margin-left: 20px; */
    padding: 20px;
}

.menu-title{
    font-weight: 700;
    font-size: 18px;
}

.category-img{
    height: 220px;
    width: 100%;
}

.category-itemtext{
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
}

.category-itemtitle{
    margin-bottom: 20px;
    margin-top: 10px;
}

.category-itemlocation{
    margin-bottom: 30px;
}

.category-itemdesc{
    margin-top: 20px;
    padding-right: 20px;
}

.category-itemspan{
    margin-left: 55px;
    text-decoration: underline;
    color:rgb(133, 133, 235)
}

.category-menusub{
    margin-top: 20px;
    margin-bottom: 40px;
}

.category-menusubtext{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.category-menutext{
    margin-left: 20px;
}

.category-menuhr{
    margin-bottom: 30px;
}

.category-itemAdtype{
    font-size: 20px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    float: right;
    padding: 15px 30px 15px 30px;
    font-weight: 700;
    background-color: #d7d4d4;
    color: green;
}