.cateogry-title{
    font-weight: 800;
    font-size: 20px;
    font-family: cursive;
}
.category-container{
    padding: 10px;
}
.category-tile{
    width: 200px;
    height: 200px;
    background-color: lavender;
    margin-left: 20px;
    margin-bottom:20px
}
.tile-container{
    display: flex;
    /* justify-content: center; */
    padding-top: 30px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    margin: 0 auto

}