.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    height: 130px;
    padding: 5px;
  }

  .contact-img{
      height: 40px;
      width: 40px;
      cursor: pointer;
  }
.contact-pop{
    padding: 10px;
}
.phone{
    display: flex;
}
.contact-number{
    padding-top: 7px;
    padding-left: 5px;
}
.contact-alt{
    margin-left: 20px;
}
.contact-secondBody{
    outline: none;
}
a{
    outline: none;
    border: none;
}