.App-header {
    /* background-color: #282c34;
    min-height: 100vh; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
    position: fixed;
    width: 100%;
  }
  
  .App-link {
    color: #61dafb;
  }
  .dashboard-tabs-icon {
    height: 215px;
  }
  .title {
    position: absolute;
    font-size: 70px;
    color: purple;
    font-family: sans-serif;
    top:4px;
  }
  .content-body{
    height: 540px;
    padding-top: 230px;
    padding-bottom: 40px;
    text-align: center;
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url(./Web_Photo_Editor.jpg) repeat;
    background-size: 90%;
  }

  .profile{
    position: absolute;
    padding: 10px;
    font-size: 20px;
    background-color: #00000038;
    top: 10px;
    right: 2%;
    cursor: pointer;
    text-align: center;
  }

  .post{
    position: absolute;
    padding: 10px;
    width: 90px;
    font-size: 20px;
    background-color: cornflowerblue;
    border-radius: 4px;
    top: 185px;
    right: 20%;
    cursor: pointer;
    text-align: center;
  }
  .hide{
    display: none;
  }
  .show{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: blue;
    border-radius: 4px;
    top: 185px;
    cursor: pointer;
    text-align: center
  }
  
  .Link-header{
    text-decoration: none;
    color: white;
   }
   
   .footer {
    color: white;
    background-color: #000000;
    padding: 30px;
    text-align: center;
    margin-top: 20px;
}