.login-form {
  width: 50%;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  height: 400px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.container {
  height: 600px;
  padding: 60px;
  background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url(../assets/Web_Photo_Editor.jpg) repeat;

}
.block {
  display: block;
}
input.control-width,
.ctrl-padding {
  width: 96%;
    padding: 8px;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #e7ebee;
    outline: none;
    color: #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 20px;
}
.ctrl-padding {
  margin-bottom: 20px;
}
button.signIn {
   width: 100%;
    background-color: #68d391;
    height: 40px;
    border-color: #68d391;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.signin-container {
  padding-bottom: 10px;
  position: absolute;
  bottom: 4%;
  width: 90%;
}
.signIn-title {
  font-weight: 600;
  font-size: 1.875rem;
  text-align: center;
  padding-bottom: 30px;
  font-family: sans-serif;
}
